@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Just+Me+Again+Down+Here|Pangolin|Patrick+Hand+SC|Schoolbell|Short+Stack|Swanky+and+Moo+Moo|Waiting+for+the+Sunrise");


.row * {
	/* border: 1px dotted red; */
}

[class^="col-"] {
	/* border: 1px solid blue; */
}

body {
  background-image: url("_img/5_1024.jpg/");
  }
  
.header {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Patrick Hand SC', cursive;  
  color: rgba(0,0,0,0.65);
  text-shadow: 1px 1px 2px gray;

/* 	font-family: 'Short Stack', cursive; */
/* 	font-family: 'Just Me Again Down Here', cursive; */
/* 	font-family: 'Waiting for the Sunrise', cursive; */
/* 	font-family: 'Pangolin', cursive; */
}

.calculator {
  padding-top: 11px;
  padding-bottom: 11px;
}

.input-group {
  display: flex !important;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;

}

#input, .btn {
  height: 65px;  
}

#input {
  max-width: 300px;
  background: rgba(255,255,255,0.5);
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none;
  font-size: 5em;
  font-weight: lighter;
  font-family: 'Waiting for the Sunrise', cursive;
  text-align: right; 
  padding: 0;
}

.btns {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.btn-group-vert {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}

.btn {
  width: 65px;
  background: rgba(255,255,255,0.5);
  border-radius: 0 !important;
  font-size: 3em !important;
  font-weight: lighter;
  font-family: 'Waiting for the Sunrise', cursive;
  /* border-color: rgba(255,255,255,0.9); */
  
}

.funcs {
  padding-left: 10px;
}

@media all and (max-width: 600px) {
  .funcs {
    padding: 0;
  }
}

.printDisplay {
/* 	background-color: lightgray; */
/* 	background-image: url("https://github.com/PhysRex/image_hosting/blob/master/texturedBackground.jpg?raw=true"); */
  padding: 10px;
/* 	height: 250px; */
}

.printOut {
  overflow: auto;
    background: rgba(255,255,255,0.5);
  height: 390px;
}

.calcDiv {	
/* 	border: 1px dashed lightgray; */
}

.calcIn {
  text-align: left;
  font-size: 30px;
  color: gray;
  font-family: 'Just Me Again Down Here', cursive;
/* 	line-height: 2; */
}

.calcOut {
  /* border-bottom: 1px solid rgba(0,0,0,0.3); */
  
  text-align: right;
  font-size: 40px;
  font-family: 'Just Me Again Down Here', cursive;
	line-height: .5;
  /* margin-top: -25px; */
}

.lineBreak {	 
	margin: 15px 0 15px 0;
	height: 1px;
	background: black;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0.5)), color-stop(50%, rgba(0,0,0,0.7)));
}






/* ################################# */
/* ##### Scrollbar css styling ##### */
/* ##### --------------------- ##### */
  .printOut {
/* 	overflow-y: hidden; */
  overflow-x: hidden;
}

.printOut::-webkit-scrollbar {
  width: 0.3em;	
}
  
.printOut::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
  
.printOut::-webkit-scrollbar-thumb {	
  background-color: rgba(0, 0, 0, 0.4);
/* 	background-color: indigo; */
  outline: 0.3 solid slategrey;
}
/* ################################# */

